@font-face{
  font-family: "Neue Montreal";
  src: url(./fonts/NeueMontreal-Medium.woff2) format("woff2"), url(./fonts/NeueMontreal-Medium.woff) format("woff");
  font-weight:500;
  font-style:normal
}

body {
  margin: 0;
  padding: 0;
  height: 400vh;
  background-color: #d4c9c9;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.example__title {
  margin: 0 0 0.25em;
  font-size: 60px;
  font-family: "Neue Montreal", system-ui, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.example__code {
  width: 800px;
  margin: auto 0;
}

.example__code pre {
  min-height: 480px;
}

.example__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example__btns button {
  margin-right: 20px;
}


